@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECECEC;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for a cleaner presentation */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
